// @tailwind base;
// @tailwind components;
// @tailwind utilities;


.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 0.25s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    /* New code here: */
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 0.25s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    /* New code here: */
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}





@keyframes slideRight {
0% {
  transform: translateX(-150%);
}

100% {
  transform: translateX(0%);
}
}

@-webkit-keyframes slideRight {
0% {
  -webkit-transform: translateX(-150%);
}

100% {
  -webkit-transform: translateX(0%);
}
}



@keyframes slideLeft {
    0% {
      transform: translateX(-150%);
    }
    
    100% {
      transform: translateX(0%);
    }
}
    
@-webkit-keyframes slideLeft {
    0% {
      -webkit-transform: translateX(-150%);
    }
    
    100% {
      -webkit-transform: translateX(0%);
    }
}






.myDiv
{
    border: 1px solid blue;
    width:600px;
    height:200px;

}
.myDiv .img{
    position: absolute;
    margin:5px;
    width: 200px;
    height:180px;
    background:url("http://www.ideachampions.com/weblogs/Good-news11.jpg");
    background-position: center center;
    background-size: 200px 180px;
    -webkit-transition: all 2s;
    transition:all 2s;

}

.myDiv:hover .img{
    background-size: 300px 360px;
}
#secondChild
{
    position : absolute;
    margin-left: 250px;
    width:350px;
    height:100px;
} 


// Animations
@keyframes titleDeviderAnimation {
  0% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(128px);
  }
}
@keyframes ledgerLeftRight {
  0% {
    left: -40px;
  }
  100% {
    left: 100%;
  }
}
@keyframes ledgerRightLeft {
  0% {
    right: -40px;
  }
  100% {
    right: 100%;
  }
}
@keyframes ledgerTopBottom {
  0% {
    top: -40px;
  }
  100% {
    top: 100%;
  }
}
@keyframes ledgerBottomTop {
  0% {
    bottom: -40px;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}