@media only screen and (min-width: 900px){
    /* COMPUTERS */

    .mapStyle {
        display: flex;
        width: 500px;
        height: 400px;
        position: relative;
        background-color: 'blue';
    }
}


@media only screen and (max-width: 900px){
    /*Tablets [601px -> 1200px]*/
}
  
  
@media only screen and (max-width: 600px){
    /*Big smartphones [426px -> 600px]*/
}


@media only screen and (max-width: 425px){
    /*Small smartphones [325px -> 425px]*/

    .mapStyle {
        display: flex;
        width: 10vw;
        height: 100px;
        position: relative;
        background-color: 'blue';
    }
}