.body {
    cursor:url(https://res.cloudinary.com/dldeqai4u/image/upload/v1689201751/burger/icons8-french-fries-48_wqlbjt.png) 4 5, auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 180px;
    min-height: 100vh;
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 330px;
    height: 400px;
}


.burgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
}


.image {
    width: 320px;
    height: 350px;
}

.imageHovered {
    width: 330px;
    height: 390px;
}

.title {
    font-size: 20px;
    color: black;
    font-weight: bold;
}